stages:
    - deploy

deploy_to_prod:
    stage: deploy
    image: alpine:latest

    before_script:
        - 'apk update && apk add openssh-client'
        - 'eval $(ssh-agent -s)'
        - 'echo "$SSH_PRIVATE_KEY_FILE" | base64 -d | ssh-add -'

    script:
        - >
            ssh -o "StrictHostKeyChecking=no" ubuntu@3.75.211.159
            "cd ~/webserver_taskmanager &&
            sudo chown -R ubuntu:ubuntu . &&
            git pull &&
            docker compose up --build -d --force-recreate &&
            sleep 10 &&
            docker compose exec app npx prisma migrate deploy &&
            echo '--- DEPLOYMENT COMPLETE ---'"

    rules:
        - if: '$CI_COMMIT_BRANCH == "main"'
