stages:
    - deploy

deploy_to_prod:
    stage: deploy
    image: alpine:latest

    before_script:
        - apk add --no-cache openssh-client git
        - eval $(ssh-agent -s)
        - echo "$SSH_PRIVATE_KEY_FILE" | base64 -d | ssh-add -

    script:
        - |
            ssh -o "StrictHostKeyChecking=no" -o "UserKnownHostsFile=/dev/null" ubuntu@3.75.211.159 << "EOF"
              set -e
              
              echo "--- [DEPLOY] Preparing server environment ---"
              if [ ! -d "webservertaskManager" ]; then
                echo "Cloning repository..."
                git clone "${GIT_PULL_URL}" webservertaskManager
              fi
              
              cd webservertaskManager
              
              echo "--- [DEPLOY] Pulling latest code and configuration ---"
              git remote set-url origin "${GIT_PULL_URL}"
              git pull
              
              echo "--- [DEPLOY] Building and restarting application stack ---"
              docker compose up --build -d --force-recreate
              
              echo "--- [DEPLOY] Waiting for application to become healthy ---"
              until [ "$(docker inspect -f {{.State.Health.Status}} webservertaskManager-app-1)" = "healthy" ]; do
                  echo "Waiting for app container to be healthy...";
                  sleep 2;
              done
              
              echo "--- [DEPLOY] Application is healthy. Applying database migrations. ---"
              docker compose exec app npx prisma migrate deploy
              
              echo "--- [DEPLOY] DEPLOYMENT COMPLETE ---"
            "EOF"

    rules:
        - if: '$CI_COMMIT_BRANCH == "main"'
