image: docker:latest

stages:
    - build
    - test
    - push
    - deploy

services:
    - docker:dind

variables:
    APP_IMAGE: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA

build_app:
    stage: build
    script:
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
        - docker build -t $APP_IMAGE .
        - docker push $APP_IMAGE

run_tests:
    stage: test
    script:
        - 'echo "CRITICAL: No automated tests found. This is a placeholder stage."'
        - 'echo "Assuming the build was successful and proceeding."'

tag_latest:
    stage: push
    script:
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
        - docker pull $APP_IMAGE
        - docker tag $APP_IMAGE $CI_REGISTRY_IMAGE/latest
        - docker push $CI_REGISTRY_IMAGE/latest
    rules:
        - if: '$CI_COMMIT_BRANCH == "main"'

deploy_to_server:
    stage: deploy
    image: alpine:latest

    before_script:
        - 'apk update && apk add openssh-client'
        - 'eval $(ssh-agent -s)'
        - 'echo "$SSH_PRIVATE_KEY" | ssh-add -'
        - 'mkdir -p ~/.ssh'
        - 'chmod 700 ~/.ssh'
        - 'ssh-keyscan 3.75.211.159 >> ~/.ssh/known_hosts'
        - 'chmod 644 ~/.ssh/known_hosts'

    script:
        - echo "Deploying to production server..."
        - ssh ubuntu@3.75.211.159"
          cd ~/webserver_taskmanager &&
          git pull &&
          echo '--- Backend code pulled ---' &&
          docker compose up --build -d app &&
          echo '--- Application container restarted ---' &&
          docker compose exec app npx prisma migrate deploy &&
          echo '--- Database migrations applied ---' &&
          echo '--- DEPLOYMENT COMPLETE ---'"

    rules:
        - if: '$CI_COMMIT_BRANCH == "main"'
