services:
    app:
        # This uses the GitLab CI_REGISTRY_IMAGE predefined variable
        image: registry.gitlab.com/ivan.brovko/webserver_taskmanager:latest
        restart: always
        env_file: [".env"]
        depends_on:
            db:
                condition: service_started
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:3000/healthz"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

    # Service 2: NGINX Reverse Proxy ('nginx')
    nginx:
        image: nginx:stable-alpine
        restart: always
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - /etc/letsencrypt:/etc/letsencrypt:ro
            - /var/www/html:/var/www/html
            - ./frontend-dist:/usr/share/nginx/html/frontend
        depends_on:
            app:
                condition: service_healthy
    # Service 3: The Database ('db') - mostly unchanged
    db:
        image: postgres:14.1-alpine
        restart: always
        environment:
            - POSTGRES_USER=myuser
            - POSTGRES_PASSWORD=mypassword
            - POSTGRES_DB=taskmanager
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data
    certbot:
        image: certbot/certbot
        volumes:
            - /etc/letsencrypt:/etc/letsencrypt
            - /var/www/html:/var/www/html

volumes:
    db_data:
