services:
  app:
    # Use the image we will build and push to the registry
    image: registry.gitlab.com/taskmanager-group/webserver_taskmanager:latest
    restart: always
    env_file: [".env"]
    depends_on:
      db:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=taskmanager
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
