services:
    # Service 1: Our Application ('app')
    app:
        image: ${APP_IMAGE}
        restart: always
        env_file:
            - .env
        depends_on:
            - db

    # Service 2: NGINX Reverse Proxy ('nginx')
    nginx:
        image: nginx:stable-alpine
        restart: always
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

            - /etc/letsencrypt:/etc/letsencrypt:ro

            - /var/www/html:/var/www/html

            - ~/frontend:/usr/share/nginx/html/frontend
        depends_on:
            - app
    # Service 3: The Database ('db') - mostly unchanged
    db:
        image: postgres:14.1-alpine
        restart: always
        environment:
            - POSTGRES_USER=myuser
            - POSTGRES_PASSWORD=mypassword
            - POSTGRES_DB=taskmanager
        ports:
            - '5432:5432'
        volumes:
            - db_data:/var/lib/postgresql/data
volumes:
    db_data:
